# Environment
.env

# macOS
.DS_Store
**/.DS_Store

# Dependencies
vendor/
node_modules/

# Logs & cache
*.log
*.cache
.php-cs-fixer.cache
public/.php-cs-fixer.cache

# Tailwind runtime
tailwind-runtime.css
.DS_Store
